html,body,section {
  height: 100%;
  overflow: hidden;
}

.layout {
  margin: 0 auto;
  width: 800px;
}

.bg {
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  background: url("/WebMusic/imgs/2.jpg") no-repeat center;
  background-size: cover;
  filter: blur(4px);
}
.bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
}

main {
  padding-top: 12vh;
  height: calc(100% - 24vh);
}
main::after {
  content: '';
  display: block;
  clear: both;
}

main .aside {
  float: left;
}
main .aside figure {
  width: 46vh;
  height: 46vh;
  background: url('/WebMusic/imgs/2.jpg') no-repeat center;;
  background-size: cover;
}
main .aside .actions {
  display: flex;
  margin-top: 4vh;
}
main .aside li {
  flex:1;
  text-align: center;
}
main .aside .iconfont {
  font-size: 5vh;
  color: rgba(255,255,255,0.4);
  transition: color .4s;
  cursor: pointer;
}
main .aside .iconfont:hover {
  color: #fff;
}

main .detail {
  margin-left: 56vh;
  color: #fff;
}
main .detail .tag {
  font-size: 2vh;
  /* padding 相对于 当前 font-size 的大小做改变 */
  padding: 0.4em 0.8em;
  background: #2e6eec;
}
main .detail h1 {
  font-size: 6vh;
  margin-top: 2vh;
}
main .icons {
  display: flex;
  font-size: 3vh;
  margin-top: 12vh;
}
main .icons li {
  flex: 1;
}
main .icons .iconfont {
  font-size: 3vh;
  margin-right: 1vh;
}
main .area-bar {
  margin-top: 10vh;
  display: flex;
  align-items: center;
}
/* 总进度条 */
main .area-bar .bar {
  position: relative;
  flex: 1;
  height: .8vh;
  border-radius: .2vh;
  background: rgba(255,255,255,0.4);
}
/* 歌曲时间 */
main .area-bar .current-time {
  width: 5vh;
  font-size: 2vh;
  margin-left: 1vh;
}
/* 当前进度条 */
main .area-bar .bar-progress {
  position: absolute;
  height: .8vh;
  width: 10%;
  background-color: #fff;
  border-radius: .2vh;
}
main .author {
  font-size: 3vh;
  margin-top: 3vh;
}
main .lyric {
  font-size: 2vh;
  margin-top: 2vh;
  color: rgba(255,255,255,0.4);
}



footer {
  height: 24vh;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
footer .box {
  position: relative;
}
footer ul::after {
  content: '';
  display: block;
  clear: both;
}
footer li {
  float: left;
  margin-top: 1vh;
  margin: 2vh 4vh 0 4vh;
  width: 20vh;
  height: 20vh;
  text-align: center;
  cursor: pointer;
}
footer li:hover .cover{
  box-shadow: 0 0 .5vh .5vh rgba(255,255,255,0.2);
}
footer li .cover {
  height: 16vh;
  background-size: cover;
  background-position: center center;
}
footer h3 {
  font-size: 2vh;
  margin-top: 1vh;
  color: rgba(255,255,255,0.7);
}
footer .iconfont {
  position: absolute;
  top: 7vh;
  font-size: 6vh;
  color: rgba(255,255,255,0.4);
  opacity: 0;
  transition: all .4s;
  cursor: pointer;
}
footer .iconfont:hover {
  color: rgba(255,255,255,0.8);
}
footer:hover .iconfont {
  opacity: 1;
}
footer .icon-left {
  left: -10vh;
}
footer .icon-right {
  right: -10vh;
}

footer
